myvenv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
myvenv/


# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local data
*.log
*.sqlite3
*.db
*.csv
*.tsv
*.parquet

# System files
.DS_Store
Thumbs.db

# Python environment files
pip-log.txt
pip-delete-this-directory.txt

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Streamlit
.streamlit/secrets.toml
